.mainheading{
    text-align: center;
}

body {
    text-align: center;
}

.btn {
    background-color: red;
    border: 2px solid black;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: underline;
    display: block;
    font-size: 20px;
}

.btn:hover {
    background-color: darkred;
    color: white;
}

.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block; }