#section1{
    background-color: navy;
}

#section2{
    background-color: turquoise;
}

#section3{
    background-color: orange;
}

#section4{
    background-color: red;
    
}

.section{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: arial;
}

p {
    font-size: 17px;
    font-family: arial;
}